[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "verdadecu"]
	path = verdadecu
	url = https://github.com/demografiando/verdadecu
